{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
<div class="card shadow p-3 mb-5 bg-white rounded"
    style="width: 58rem; margin: 0 auto; float: none; margin-bottom: 10px; border-radius: 1rem!important; ">
    <div class="card-body">

        <h2>Edit Profile</h2>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% comment %} {{form.as_p}} {% endcomment %}

            <ul  style="list-style-type:none;">
                <li id="username" name="username" class="contact">

                    
                    <label>Username </label>
                    {{ form.username}}
                    
                </li>

                <li id="email" name="email" class="contact">

                    
                    <label>Email </label>
                    {{ form.email}}
                    
                </li>
                

                <li>
                    <input type="submit" class="btn btn-dark" value="Save Changes">
                </li>
            </ul>

            
        </form>
    </div>
</div>
{% else %}
<h2> Not logged in. </h2>

{% endif %}

{% endblock content %}