{% extends 'base.html' %}

{% load static %}

{% block content %}

    {% if user.is_authenticated %}
        <h1> Profile Page </h1>
        <h1> Hello, </h1>
        <h2>Username</h2>
        <p>
            {{user.username}}
        </p>

        <h2>Email</h2>
        <p>
            {{user.email}}
        </p>
        <h2>Gender</h2>
        <p>
            {{user.gender}}
        </p>
        <h2>Role</h2>
        {% if user.is_recruiter %}
        <p>You are a recruiter.</p>
        {% else %}
            <p>You are an applicant.</p>
        {% endif %}
        <h2>Resume</h2>
        {% if user.pdf_resume.url is not None %}
            <p>
                Download your resume
                <button>
                    <a href={{user.pdf_resume.url}} target="_blank">download</a>
                </button>
            </p>
        {% else %}
            <p>
                You have not uploaded resume.
                <button>
                    <a href="upload_resume" target="_blank">
                        Upload Resume
                    </a>
                </button>
            </p>
        {% endif %}
        <h2>Username</h2>
        <p>
            {{user.username}}
        </p>
        <h2>Username</h2>
        <p>
            {{user.username}}
        </p>
        <h2>Username</h2>
        <p>
            {{user.username}}
        </p>
        <h2>Username</h2>
        <p>
            {{user.username}}
        </p>
        <h2>Username</h2>
        <p>
            {{user.username}}
        </p>

        <button>
            <a href="edit">
                Edit Profile
            </a>
        </button>
    {% else %}
        <h2> Not looged in. </h2>

    {% endif %}
    
{% endblock content %}