{% extends 'base.html' %}

{% load static %}

{% block content %}

    {% if user.is_authenticated %}
    <div class="card shadow p-3 mb-5 bg-white rounded"
    style="width: 58rem; margin: 0 auto; float: none; margin-bottom: 10px; border-radius: 1rem!important; ">
    <div class="card-body">

        <h2 align ="center" style="color:rgb(18, 96, 175);">Recruiter Query</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% comment %} {{form.as_p}} {% endcomment %}

            <ul  style="list-style-type:none;">
               

                <li id="query" name="query" class="contact">

                    <h8>*Enter the skills required with ',' delimeter</h8><br>
                    <label>Resume </label>
                    {{ form.query}}
                    
                </li>
                

                <li>
                    <input  class="btn btn-dark" type="submit" value="Get candidates">
                </li>
            </ul>
                      
        </form>
    </div>
    </div>
    {% else %}
        <h2> Not logged in. </h2>

    {% endif %}
    
{% endblock content %}